@model IEnumerable<EventsCalendar.ViewModels.CampaignViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search Result</h2>


@if (Model.Count() < 1)
{
    <br />
    <br />
    <br />
    <p>No Records found</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Snapshot.DatasetID)*@
                @Html.DisplayNameFor(model => model.Campaign.Snapshot.DatasetID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign.CampaignName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign.EndDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Snapshot.DatasetID)*@
                    @Html.DisplayFor(modelItem => item.Dataset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campaign.CampaignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campaign.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campaign.EndDate)
                </td>
            </tr>
        }

    </table>
}
